nav.sidebar
    & ul
        list-style none
        & li
            & a
                font-weight bold
                &:hover
                    text-decoration: none
mat-sidenav-content
    min-height: 80vh