<section id="login">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="wrapper">
            <div class="login-wrapper">
                <input type="email" [(ngModel)]='User.email' placeholder="Электронная почта">
                <input type="password" [(ngModel)]='User.password' placeholder="Пароль">
                <button (click)='login()' class="base-button">Войти</button>
            </div>
        </div>
      </div>
    </div>
  </div>
</section>