<section class="bg-secondary" id='statistic'>
  <div class="container">
    <div class="row">
        <div class="col-12 col-sm-6 col-md-3 wrap">
            <i class="material-icons">stars</i>
            <div class="details">
              <p class="number">7</p>
              <p class="description">Лет опыта</p>
            </div>
        </div>
    
        <div class="col-12 col-sm-6 col-md-3 wrap">
            <i class="material-icons">people</i>
            <div class="details">
              <p class="number">43</p>
              <p class="description">Сотрудника</p>
            </div>
        </div>
    
        <div class="col-12 col-sm-6 col-md-3 wrap">
            <i class="material-icons">domain</i>
            <div class="details">
              <p class="number">23 400м<sup>2</sup></p>
              <p class="description">Убрано за этот год</p>
            </div>
        </div>
    
        <div class="col-12 col-sm-6 col-md-3 wrap">
            <i class="material-icons">accessibility_new</i>
            <div class="details">
              <p class="number">1100</p>
              <p class="description">Визитов к нам за последний год</p>
            </div>
        </div>
    </div>
  </div>
</section>