<div class="container">
    <!-- <form [formGroup]="OfferControl">
            <div class="wrapp">
                <mat-form-field>
                        <mat-select (selectionChange)="calculate()" placeholder="Регулярность" formControlName="regular">
                            <mat-option *ngFor="let x of RegularControl;" [value]="x.days">
                            {{x.translate}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
            
                    <mat-form-field>
                        <input matInput (change)="calculate()" type="number" formControlName="area" placeholder="Площадь">
                    </mat-form-field>
            
                    <mat-form-field>
                        <input matInput (change)="calculate()" type="number" formControlName="time" placeholder="Время на объекте">
                    </mat-form-field>

            </div>   
        </form> -->
  <div class="row">

    <div class="col-6">
      <div class="wrapp" *ngFor="let x of Offers">
        <p *ngIf='x.area'>Площадь: {{x.area}}</p>
        <p>Регулярность: {{x.regular}}</p>
        <p *ngIf='x.time'>Время на объекте: {{x.time}}</p>
        <p>Статус: {{x.status}}</p>
        <p *ngIf='x.sentingDate'>Дата отправки: {{x.sentingDate}}</p>
        <p>Дата создания: {{x.createdDate}}</p>
      </div>
    </div>
  </div>
</div>