<section id="about" class="p-0">
  <div class="item" fxLayout="row" fxLayout.lt-md="column" fxLayoutAlign="space-evenly"> 
    <div class="image" style="background: url(./assets/img/cleanup_employees.png) 50% 50% no-repeat / cover"></div>
    <div class="wrapp" fxLayout="column" fxLayoutAlign="center">
      <h2 class="title">О нашей компании</h2>
      <p>В европейских странах в отелях вешают стикер с надписью "CleanUp" на дверях. Когда гость приходит обратно, комната уже прибрана.</p>
      <p><span class="font-weight-bold">Основной вид деятельности CleanUp </span> - регулярная уборка коммерческих помещений, уборка частной собственности. </p>
      <p><span class="font-weight-bold">Точки присутсвия </span>разбросаны по всей России. На текущий момент основные регионы - Москва, Республика Татарстан</p>
    </div>
  </div> 
</section>