<section>
    <div class="container">
        <div class="row">
            <div class="col-4">
                <div class="wrapp">
                    <a href="#" class='change-lead' (click)='preChangeLead($event, true)'>Изменить Лид</a>
                    <div class="row">
                        <div class="col-12">
                            <h1 *ngIf='!changeIndicator'>{{Lead.firmName}}</h1>
                            <mat-form-field *ngIf='changeIndicator'>
                                <input matInput placeholder="Название фирмы" [(ngModel)]='Lead.firmName'>
                            </mat-form-field>
                                
                        </div>
                        <div class="col-12">
                            <mat-form-field>
                                <mat-select placeholder="Статус" (selectionChange)="changeLeadStatus ()" [(ngModel)]='Lead.leadStatus'>
                                    <mat-option *ngFor="let x of LeadStatus;" [value]="x.status">
                                        {{x.translate}}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                        <div class="col-12" *ngFor="let x of Lead.contactPhones">
                            <a *ngIf='!changeIndicator' href='callto:{{x}}' title="{{x}}">{{x}}</a>
                            <mat-form-field *ngIf='changeIndicator'>
                                <input matInput placeholder="Номер телефона" [(ngModel)]='x'>
                            </mat-form-field>
                        </div>
                        <div class="col-12">
                            <a href="#" *ngIf='changeIndicator' (click)='addNewPhone($event)'>Добавить номер</a>
                        </div>
                        <div class="col-12">
                            <a *ngIf='!changeIndicator' href="mailto:{{Lead.contactEmail}}">{{Lead.contactEmail}}</a>
                            <mat-form-field *ngIf='changeIndicator'>
                                <input matInput placeholder="Контактный email" [(ngModel)]='Lead.contactEmail'>
                            </mat-form-field>
                        </div>
                        <div class="col-12">
                            <p *ngIf='!changeIndicator'>{{Lead.address}}</p>
                            <mat-form-field *ngIf='changeIndicator'>
                                <input matInput placeholder="Адрес" [(ngModel)]='Lead.address'>
                            </mat-form-field>
                        </div>
                        <div class="col-12">
                            <p *ngIf="Lead.contactName && !changeIndicator">Имя собеседника: {{Lead.contactName}}</p>
                            <mat-form-field *ngIf='changeIndicator'>
                                <input matInput placeholder="Имя собеседника" [(ngModel)]='Lead.contactName'>
                            </mat-form-field>
                        </div>
                        <div class="col-12">
                            <p *ngIf="Lead.position && !changeIndicator">Должность: {{Lead.position}}</p>
                            <mat-form-field *ngIf='changeIndicator'>
                                <input matInput placeholder="Должность" [(ngModel)]='Lead.position'>
                            </mat-form-field>
                        </div>
                        <div class="col-12">
                            <p *ngIf="Lead.lprsName && !changeIndicator">Имя ЛПР: {{Lead.lprsName}}</p>
                            <mat-form-field *ngIf='changeIndicator'>
                                <input matInput placeholder="Имя ЛПР" [(ngModel)]='Lead.lprsName'>
                            </mat-form-field>
                        </div>
                        <div class="col-12">
                            <button mat-raised-button color="primary" *ngIf='changeIndicator' (click)='saveLeadChanges()'>Сохранить</button>
                        </div>
                    </div>
                </div>
                <button mat-raised-button (click)="openDialog()">Предложения</button>
            </div>
            <div class="col-5">
                <div class="wrapp" [formGroup]="taskDesk">
                    <mat-form-field>
                        <mat-select placeholder="Задача" formControlName="actions">
                            <mat-option *ngFor="let x of taskPanelControl;" [value]="x.action">
                            {{x.translate}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>

            
                    <div class="w-100">
                        <mat-form-field style="width: 100%;">
                            <textarea matInput formControlName="description" placeholder="Описание задачи"></textarea>
                        </mat-form-field>
                    </div>
            
                    <div class="w-100" *ngIf='taskDesk.get("actions").value != "comment"'>
                        <mat-form-field>
                            <input matInput formControlName="deadLineDate" [owlDateTime]="dt1" [owlDateTimeTrigger]="dt1" placeholder="Дата задачи">
                            <owl-date-time #dt1></owl-date-time>
                        </mat-form-field>
                    </div>
                    <button mat-raised-button color="primary" (click)='createNewTask()'>Сохранить</button>
                </div>
                <div class="wrapp" *ngFor='let x of TaskDesk'>
                    <div *ngFor="let y of PanelControl">
                        <mat-checkbox *ngIf='y.action === x.action && x.status === "started"'  (click)='changeTaskStatus(x)'>
                            {{y.translate}}
                            <span class='deadline-date' *ngIf='x.deadLineDate'> {{x.deadLineDate | date: 'dd.MM.yyyy HH:mm'}}</span>
                        </mat-checkbox>
                    </div>
                    <span *ngIf="x.finishedDate">{{x.finishedDate | date: 'dd.MM.yyyy HH:mm'}}</span>
                    <p>{{x.description}}</p>
                    <span class='created-date'>Дата создания: {{x.createdDate | date: 'dd.MM.yyyy HH:mm'}}</span>
                </div>
                    
            </div>
        </div> 
    </div>
</section>