.wrapp
    position relative
    background-color white
    margin-bottom 1rem
    box-shadow: 0 1px 1px 0 rgba(0,0,0,.04);
    padding 20px
    border-radius: 10px
    & .change-lead
        position absolute
        right 10px
        top 10px
    & .created-date 
        position absolute
        font-size: .7rem
        right 20px
    & .deadline-date
        font-size: .8rem!important
        padding-left 10px
    & p
        margin-bottom 0
