<section>
    <div class="container">
        <div class="row">
            <div class="col-4">
                <div class="wrapp">
                    <div class="row">
                        <div class="col-12">
                            <h1>{{Lead.firmName}}</h1>
                        </div>
                        <div class="col-12">
                            Тут вывести статус
                        </div>
                        <div class="col-12">
                            <ul>
                                <li *ngFor="let x of Lead.contactPhones">
                                    <a href='callto:{{x}}' title="{{x}}">{{x}}</a>
                                </li>
                            </ul>
                        </div>
                        <div class="col-12">
                            <a href="mailto:{{Lead.contactEmail}}">{{Lead.contactEmail}}</a>
                        </div>
                        <div class="col-12">
                            <p>{{Lead.address}}</p>
                        </div>
                        <div class="col-12">
                            <p *ngIf="Lead.contactName">Имя собеседника: {{Lead.contactName}}</p>
                        </div>
                        <div class="col-12">
                            <p *ngIf="Lead.position">Должность: {{Lead.position}}</p>
                        </div>
                        <div class="col-12">
                            <p *ngIf="Lead.lprsName">Имя ЛПР: {{Lead.lprsName}}</p>
                        </div>
                    </div>
                </div>
                <button mat-raised-button (click)="openDialog()">Предложения</button>
            </div>
            <div class="col-5">
                <div class="wrapp" [formGroup]="taskDesk">
                    <mat-form-field>
                        <mat-select placeholder="Задача" formControlName="actions">
                            <mat-option *ngFor="let x of taskPanelControl;" [value]="x.action">
                            {{x.translate}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>

            
                    <div class="w-100">
                        <mat-form-field style="width: 100%;">
                            <textarea matInput formControlName="description" placeholder="Описание задачи"></textarea>
                        </mat-form-field>
                    </div>
            
                    <div class="w-100" *ngIf='taskDesk.get("actions").value != "comment"'>
                        <mat-form-field>
                            <input matInput formControlName="deadLineDate" [owlDateTime]="dt1" [owlDateTimeTrigger]="dt1" placeholder="Дата задачи">
                            <owl-date-time #dt1></owl-date-time>
                        </mat-form-field>
                    </div>
                    <button mat-raised-button color="primary" (click)='createNewTask()'>Сохранить</button>
                </div>
                <div class="wrapp" *ngFor='let x of TaskDesk'>
                    <mat-checkbox *ngIf='x.status === "started"' (click)='changeTaskStatus(x)'>{{x.action}}<span class='deadline-date' *ngIf='x.deadLineDate'> {{x.deadLineDate | date: 'dd.MM.yyyy HH:mm'}}</span></mat-checkbox>
                    <span *ngIf="x.finishedDate">{{x.finishedDate | date: 'dd.MM.yyyy HH:mm'}}</span>
                    <p>{{x.description}}</p>
                    <span class='created-date'>Дата создания: {{x.createdDate | date: 'dd.MM.yyyy HH:mm'}}</span>
                </div>
                    
            </div>
        </div> 
    </div>
</section>