.wrapp
    position relative
    background-color: #eef2f4;
    margin-bottom 1rem
    border 1px solid rgba(0,0,0,.04);
    padding 20px
    border-radius: 10px
    & h1
        font-size: 1.5rem!important
        color black!important
        text-shadow: none
        text-align: left
    & .change-lead
        position absolute
        right 10px
        top 10px
    & .created-date 
        position absolute
        font-size: .7rem
        right 20px
    & .deadline-date
        font-size: .8rem!important
        padding-left 10px
    & p
        margin-bottom 0
