<button mat-raised-button color="primary" [matMenuTriggerFor]="menu">Действия с Лидом</button>
<mat-menu #menu="matMenu">
    <button mat-menu-item (click)='validator(LeadControl)'>Проверка</button>
    <button mat-menu-item (click)='createNewLead()'>Создать Лид</button>
    <button mat-menu-item (click)='createNewLeadOffer()'>Создать Лид + Предложение</button>
    <button mat-menu-item (click)='createNewLeadOfferSend()'>Создать Лид + Предложение + отправить</button>
</mat-menu>
<button (click)="clearLead(LeadControl)">Some</button>
<section>
    <form [formGroup]="LeadControl">
        <div class="wrapp">
            <mat-form-field>
                <input matInput (change)="pars2gis()" type="text" formControlName="link2gis" placeholder="Ссылка 2gis">
            </mat-form-field>
    
            <mat-form-field>
                <mat-select placeholder="Статус Лида" formControlName="leadStatus">
                    <mat-option *ngFor="let x of LeadStatus;" [value]="x.status">
                    {{x.translate}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
    
            <mat-form-field>
                <input matInput type="text" formControlName="firmName" placeholder="Название фирмы">
            </mat-form-field>                
    
            <div class="w-100">
                <div formArrayName="contactPhones"
                *ngFor="let phone of LeadControl.get('contactPhones').controls; let i = index;">
                    <mat-form-field>
                        <input matInput type="text" formControlName="{{i}}" placeholder="Номер телефона">
                    </mat-form-field>
                    <button mat-mini-fab color="warn" (click)='removeContactPhoneControl(i)'>X</button>
                </div>
                <a href="#" (click)='addContactPhoneControl($event)'>Добавить номер</a>
            </div>
    
            <mat-form-field>
                <input matInput type="text" formControlName="address" placeholder="Адрес">
            </mat-form-field>
    
            <mat-form-field>
                <input matInput type="text" formControlName="contactName" placeholder="Имя собеседника">
            </mat-form-field>
    
            <mat-form-field>
                <input matInput type="text" formControlName="position" placeholder="Его должность">
            </mat-form-field>
    
            <mat-form-field>
                <input matInput type="email" formControlName="contactEmail" placeholder="E-mail">
            </mat-form-field>
    
            <mat-form-field>
                <input matInput type="text" formControlName="lprsName" placeholder="ФИО ЛПР">
            </mat-form-field>
    
        </div>
        <div class="wrapp">
    
            <div class="w-100" formArrayName="tasks"
            *ngFor="let phone of LeadControl.get('tasks').controls; let i = index;">
                <mat-form-field [formGroupName]="i">
                    <mat-select placeholder="Задача" formControlName="action">
                        <mat-option *ngFor="let x of PanelControl;" [value]="x.action">
                        {{x.translate}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
    
            <div class="w-100" formArrayName="tasks"
            *ngFor="let phone of LeadControl.get('tasks').controls; let i = index;">
                <mat-form-field [formGroupName]="i" style="width: 100%;">
                    <textarea matInput formControlName="description" placeholder="Описание задачи"></textarea>
                </mat-form-field>
            </div>
    
            <div class="w-100" formArrayName="tasks"
            *ngFor="let phone of LeadControl.get('tasks').controls; let i = index;">
                <mat-form-field [formGroupName]="i">
                    <input matInput formControlName="deadLineDate" [owlDateTime]="dt1" [owlDateTimeTrigger]="dt1" placeholder="Дата задачи">
                    <owl-date-time #dt1></owl-date-time>
                </mat-form-field>
            </div>
    
            <div class="w-100" formArrayName="comments"
            *ngFor="let phone of LeadControl.get('comments').controls; let i = index;">
                <mat-form-field [formGroupName]="i" style="width: 100%;">
                    <textarea matInput formControlName="description" placeholder="Комментарий лида"></textarea>
                </mat-form-field>
            </div>
        </div>
    </form>
    
    <form [formGroup]="OfferControl">
        <div class="wrapp">
            <mat-form-field>
                    <mat-select (selectionChange)="calculate()" placeholder="Регулярность" formControlName="regular">
                        <mat-option *ngFor="let x of RegularControl;" [value]="x.days">
                        {{x.translate}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
        
                <mat-form-field>
                    <input matInput (change)="calculate()" type="number" formControlName="area" placeholder="Площадь">
                </mat-form-field>
        
                <mat-form-field>
                    <input matInput (change)="calculate()" type="number" formControlName="time" placeholder="Время на объекте">
                </mat-form-field>
                <p *ngIf="Result.fot > 1"> Фот: {{Result.fot}}</p>
                <p *ngIf="Result.profit > 1">Прибыль: {{Result.profit}}</p>
                <p *ngIf="Result.itog > 1">Итог: {{Result.itog}}</p>
                <p *ngIf="Result.itogMaterial > 1">Итог мат: {{Result.itogMaterial}}</p>
        </div>   

    </form>

</section>