<section>
  <div class="container-fluid">
      <div class="row">
        <div class="col-12">
          <nav class="navigate-panel">
            <div class="main-nav-button">
              <a *hasRole="['admin', 'manager']" [routerLink]="['leadlist']" >Лиды</a>
              <a *hasRole="['admin', 'manager']" class="add_new" [routerLink]="['newlead']"><i class="material-icons">control_point</i></a>
            </div>
            <div class="main-nav-button">
              <a *hasRole="['admin', 'manager']" [routerLink]="['alloffers']">Предложения</a>
            </div>
          </nav>
          <div class="wrapper-container">
              <router-outlet></router-outlet>
          </div>
        </div>
      </div>
    </div>
  </section>