@import '../../../../style/varibles.styles.styl';
*
    color: $main-tect-color
h5
    font-size: 18px
    font-family: $font-family
    margin-bottom 0
.wrap
    max-width 300px
    position relative
    & i 
        position: absolute
        top 0
        right 0
        cursor pointer
.base-button
    color white
mat-form-field
    width: 100%
a.policy
    color: $main-tect-color
    font-size: .8rem
    line-height: 1!important
    &:hover
        text-decoration: none
    & p
        margin-top 1rem
.mat-dialog-actions
    padding 0
@media only screen and (max-width: 576px)
    .descript
        font-size: .8rem