@import '../../../style/varibles.styles.styl';
nav 
    padding: 10px 10px
    & i.material-icons
        color: $main-tect-color
    & .tel
        font-weight bold
        color: $main-tect-color
        &:hover
            text-decoration: none
    & .wrap
        width: 100%
        display: flex
        flex-direction: row
        justify-content: space-between
        align-items: center
        & .wrapper
            display: flex
            flex-direction: row
            justify-content: space-between
            align-items: center
            & .mode
                margin-left 30px
                margin-bottom 0
                font-size: .8rem
                color $main-tect-color

footer 
    padding: 2rem 0
    & img.logo
        width 120px
        margin-bottom 20px
    & i.material-icons
        color $secondary-color
        font-size: 1.5rem
    & address, a, p
        margin 0 0 0 10px
        color: $insert-text-color
        font-weight bold
        &:hover
            text-decoration none
            cursor pointer
            color $insert-text-color
    & .wrap
        margin-bottom 10px
        display: flex
        flex-direction: row