<nav>
  <div class="container">
    <div class="row">
      <div class="col-12">
          <div class="wrap">
            <div class="wrapper">
                <a href="#">
                    <img class="logo" src="./assets/logotype.svg" alt="CleanUp logo">
                </a>
                <p class="mode hidden-md">Работаем с 8:00 до 20:00 <br>без выходных</p>
            </div>
              <a class="tel" href="tel:+7 (843) 207-02-96">+7 (843) 207-02-96</a>
          </div>
      </div>
    </div>
  </div>
</nav>

<router-outlet></router-outlet>

<footer class="bg-main">
  <div class="container">
    <div class="row">
      <div class="col-12 col-md-6 col-lg-4">
        <a href="#">
          <img class="logo" src="./assets/logotype-alt.svg" alt="CleanUp logo">
        </a>
        <div class="wrap">
          <i class="material-icons">location_on</i>
          <address>420021, г. Казань, ул. Оренбургский Тракт, 160-211</address>
        </div>
  
        <div class="wrap">
          <i class="material-icons">contact_phone</i>
          <a href="tel:+7 (843) 207-02-96">+7 (843) 207-02-96</a>
        </div>
        
        <div class="wrap">
          <i class="material-icons">email</i>
          <a href="mailto:cleanupkzn@yandex.ru">cleanupkzn@yandex.ru</a>
        </div>
      </div>
      <div class="col-12 col-md-6 col-lg-4">
        <div class="head-wrapper">
            <h4 class="title text-center">Быстрая навигация</h4>
        </div>
        <div class="wrap">
          <a href="#">Стать сотрудником</a>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
          <p>© 2013 - ООО «КЛИН АП»</p>
      </div>
    </div>
  </div>
</footer>