/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap-reboot.min.css";
@import "~bootstrap/dist/css/bootstrap-grid.min.css";
@import "~ng-pick-datetime/assets/style/picker.min.css";
@import 'style/varibles.styles.styl';
body
    background-color: $body-color;
    font-family: 'Roboto', sans-serif;
    color:$main-tect-color
h1, h2, h3, h4, h5, h6, .description
    line-height 1.1
    margin-bottom 1rem
    z-index: 1
    font-weight bold
h1, .description
    color: $insert-text-color
    text-shadow: 1px 1px 3px #000
    text-align: center
h2
    margin-bottom 2rem
h4
    color: $insert-text-color
    font-size: 1.3rem
.head-wrapper
    display: flex;
    justify-content: center
.title
    position relative
    &:after
        content: "";
        position: absolute;
        left: -20px;
        top: 0;
        bottom: 0;
        width: 10px;
        background-color: $secondary-color;
.base-button
    background-color $button-color
    color: $insert-text-color
.p-0
    padding: 0;    
.text-center
    text-align: center!important
.w-100
    width 100%!important
.font-weight-bold
    font-weight: 800!important
.bg-secondary
    background-color $secondary-color!important;
.bg-main
    background-color $main-color!important;
nav 
    padding: 10px 10px
    & i.material-icons
        color: $insert-text-color
    & .tel
        font-weight bold
        color: $insert-text-color
        &:hover
            text-decoration: none
    & .wrap
        width: 100
        display: flex
        flex-direction: row
        justify-content: space-between
        align-items: center

section 
    padding 2rem 0px
    display block
footer 
    padding: 2rem 0
    & img.logo
        width 120px
        margin-bottom 20px
    & i.material-icons
        color $secondary-color
        font-size: 1.5rem
    & address, a, p
        margin 0 0 0 10px
        color: $insert-text-color
        font-weight bold
        &:hover
            text-decoration none
            cursor pointer
            color $insert-text-color
    & .wrap
        margin-bottom 10px
        display: flex
        flex-direction: row
input, button, select
    font-size: 1rem
    padding: 6px 10px
    background-color white
    border 0 solid transparent
    border-radius: 3px
    min-width 221px
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.08);
    &:focus
        outline: 0;
input, button, .dropdown
    margin-bottom .5rem
/*Styling Selectbox*/
.dropdown
    min-width 221px
    display: inline-block;
    padding: 5px 0
    position: relative;
    border-radius: 3px
    background-color white
    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.08);
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.08);
    &:before
        content: '';
        position: absolute;
        z-index: 2;
        top: 12px;
        right: 10px;
        width: 0;
        height: 0;
        border: 4px dashed;
        border-color: #888888 transparent;
        pointer-events: none;
        border-bottom-style: solid;
        border-top: none;
    &:after
        content: '';
        position: absolute;
        z-index: 2;
        top: 15px;
        right: 10px;
        width: 0;
        height: 0;
        border: 4px dashed;
        border-color: #888888 transparent;
        pointer-events: none;
        margin-top: 7px;
        border-top-style: solid;
        border-bottom: none;
    & .dropdown-select
        position: relative
        width: 130%
        margin: 0
        line-height: 14px
        box-shadow: none
        color: #62717a
        background: #f2f2f2; /* Fallback for IE 8 */
        background: rgba(0, 0, 0, 0) !important; /* "transparent" doesn't work with Opera */
        border: 0;
        border-radius: 0;
        -webkit-appearance: none;

        &:focus 
            z-index: 3;
            width: 100%;
.dropdown-select > option {
  margin: 5px;
  padding: 10px 8px;
  text-shadow: none;
  background: #f2f2f2;
  border-radius: 3px;
  cursor: pointer;
}
.lt-ie9 .dropdown {
  z-index: 1;
}
.lt-ie9 .dropdown-select {
  z-index: -1;
}
.lt-ie9 .dropdown-select:focus {
  z-index: 3;
}
@-moz-document url-prefix() {
  .dropdown-select {
    padding-left: 6px;
  }
}

@import 'style/media.styles.styl';