/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap-reboot.min.css";
@import "~bootstrap/dist/css/bootstrap-grid.min.css";
@import "~ng-pick-datetime/assets/style/picker.min.css";
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import 'style/varibles.styles.styl';
@import 'style/themplate.styles.styl';
body
    //background-color: $body-color;
    font-family: 'Rubik', sans-serif;
    color:$main-tect-color
    position relative
    &:after
        content: '';
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        width: 35%;
        z-index: -1;
        background: #0d7ada;
        opacity: .1;
h1, h2, h3, h4, h5, h6
    line-height 1.1
    margin-bottom 1rem
    z-index: 1
    font-weight 600
h1, .description
    color: $main-tect-color
h2
    margin-bottom 2rem
h4
    color: $insert-text-color
    font-size: 1.3rem
.head-wrapper
    display: flex;
    justify-content: center
.main-text-color
    color: $main-tect-color
.title
    position relative
    &:after
        content: "";
        position: absolute;
        left: -20px;
        top: 0;
        bottom: 0;
        width: 10px;
        background-color: $secondary-color;
.base-button
    font-family: $font-family
    background-color $secondary-color
    color: $insert-text-color
    font-size: 1.1rem
    padding: 4px 20px!important
.p-0
    padding: 0;
.mb-0
    margin-bottom 0!important   
.mt
    margin-top 1rem 
.text-center
    text-align: center!important
.w-100
    width 100%!important
.font-weight-bold
    font-weight: 700!important
.img-responsive
    width 100%;
    height: auto
.wrap-flex-col-center
    height 100%
    display: flex
    flex-direction: column
    justify-content: center
.wrap-flex-center-center
    align-items: center
.text-white
    color: white!important
.text-focus
    color $secondary-color
.bg-secondary
    background-color $body-color!important;
.bg-main
    background-color $main-color!important;
section 
    padding 2rem 0px
    display block
.form-container 
    display: flex
    flex-direction: column
mat-form-field
    margin-bottom 0.5rem
    & .mat-form-field-wrapper
        padding-bottom 0
        margin 0
        & .mat-form-field-flex
            position relative
            & .mat-form-field-outline
                & .mat-form-field-outline-end
                    background-color #fff
                & .mat-form-field-outline-start
                    background-color #fff
            & .mat-form-field-suffix
                position absolute
                right 10px
                top 12px
                & button 
                    & mat-icon
                        font-size: 1rem
            & .mat-form-field-prefix
                top 0
        & .mat-form-field-infix
            padding: 5px 0 12px 0
            & .mat-select-arrow-wrapper
                transform none
.mat-menu-panel
    padding: 10px
mat-slide-toggle
    font-size: 14px

/* width */
::-webkit-scrollbar {
    width: 4px;
}

/* Track */
::-webkit-scrollbar-track {
    background-color transparent
    border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: $button-color; 
    border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: $button-color; 
}
.no-print
    display none!important
@media print
    @page 
        size: auto;
        margin: 0;
        margin-bottom 0
    body
        margin 0!important
        margin-top 20px!important
    .container
        width 100%!important
    .no-print
        display block!important
    #header, #nav, .noprint, #footer
        display: none!important
    #printable
        display: block;
mat-accordion
    & .mat-expansion-panel-header-title
        font-weight 700!important
        font-family $font-family!important
        color $main-tect-color!important
    & .mat-expansion-panel-content
        & .mat-expansion-panel-body
            font-family $font-family!important
            color $main-tect-color!important
@import 'style/media.styles.styl';