.table p{
            margin: 12px 0;
        }
        .table .firm-color-bg {
            background-color: rgb(91,155,213);
        }
        .table div {
            border: 1px solid grey;
        }

        .text-white {
            color: white;
        }
mat-icon
    position: absolute
    left: 0
    top: 10px